.status {
  width: 10px;
  height: 10px;
  background: #c0392b;
  display: block;
  margin: 8px 10px 0 0;
  float: left;
  border-radius: 50%;
}

.status.checked-in {
  background: #2ecc71;
}

button {
  cursor: pointer;
  background: #9f72e6;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
}