<page-default>
    <div class="header-data">
        <h3>Edit guest {{ detail.fullname }}</h3>
    </div>

    <div class="body-data">
        <span class="status" [class.checked-in]="detail.checkedIn"></span>
    
        <div *ngIf="editing">
            <input 
                type="text"
                name="name"
                [value]="detail.fullname"
                (input)="onNameChange(name.value)"
                #name>
        </div>
        
        <div *ngIf="!editing">
            {{ detail.fullname }}
        </div>

        <div *ngIf="editing">
            <label>Credit Card Number:</label>
            <input 
                type="text"
                name="numberCreditCard"
                [value]="detail.creditCard"
                (input)="onCreditCardChange(numberCreditCard.value)"
                #numberCreditCard
                credit-card>
        </div>
        
        <div *ngIf="!editing">
            Credit Card Number: {{ detail.creditCard }}
        </div>
        
        <div class="date">
            Check in date: 
            {{ detail.checkInDate ? (detail.checkInDate | date: 'yMMMMd' | uppercase) : 'Not checked in' }}
        </div>
        
        <div class="children">
            Children: {{ detail.children?.length || 0 }}
        </div>
    </div>

    <div class="footer-data">
        <button (click)="toggleEdit()">
            {{ editing ? 'Done' : 'Edit' }}
        </button>
        
        <button (click)="onRemove()">
            Remove
        </button>
    </div>
    
</page-default>