<div class="u-vertical-offest--2">
    <h3>Costs</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <stock-selector
            [parent]="form"
            [products]="allProducts"
            (added)="addProduct($event)">
        </stock-selector>

        <div class="u-vertical-offest--2"></div>
        
        <stock-product
            [parent]="form"
            [map]="productMap"
            (removed)="removeProduct($event)"
            (updated)="updateProduct($event)">
        </stock-product> 
        
        <div class="u-vertical-offest--2"></div>

        <div>
           <strong> Total: {{ total | currency:'USD':true }} </strong>
        </div>
    </form>
</div>